<!-- app/views/prototypes/index.html.erb -->
  <div class="card">
   <% if prototype.image.attached? %>
    <% resized_image = prototype.image.variant(resize: '200x200') %>
    <%= link_to image_tag(resized_image, class: :card__img), prototype_path(prototype) %>
   <% end %>
   <div class="card__body">
      <%= link_to prototype.title, user_path(prototype.user_id), class: :card__title %>
      <p class="card__summary">
        <%= prototype.catch_copy %>
      </p>
      <%= link_to prototype.user.name,  user_path(prototype.user_id), class: :card__user %>
    </div>
  </div>

